#progressBar_detectBtn_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/* #progressBar_detectBtn_container div{
    margin-right: 4px;
} */

#cancel-button-container{
    margin-left: 10px;
    margin-bottom: 10px;
}

#cancel-button{
    width: 72px;
}

#detect-button{
    background-color: #007bff;
}

#detect-result{
    width: auto;
    padding: 10px;
    border: 1px solid;
    border-radius: .25rem;
}

.card-footer{
    display: flex;
    flex-direction: column;
}

.card-footer > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.card-footer > div > .btn,
#detect-result{
    margin-left: 10px;
    margin-bottom: 10px;
}
